@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root {
    font-size: 24px;
}
body {
    background-color: #4DAA57;
    color: rgb(23, 126, 137);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    padding: 0 2rem;
}

.title {
    border-bottom: 5px solid rgb(21, 81, 88);
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    line-height: 1.3em;
    padding: 0 .2rem;
}

.express-yourself--outer {
    padding-bottom: 3rem;
}

.express-yourself--inner {
    border-bottom: 5px solid rgb(8, 76, 97);
    border-bottom: 5px solid rgba(8, 76, 97, .5);
    color: #323031;
    display: inline;
    font-family: 'Pacifico', cursive;
    max-width: 80%;
    word-break: break-all;
    word-wrap: break-word;
}

.express-yourself--inner:empty {
    border: 0;
}
.express-yourself--inner:empty:before {
    content: 'Type something!';
    display: block;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin-top: -.9em;
}

.express-yourself--inner:hover {
    border-bottom: 3px solid rgb(8, 76, 97);
    transition: .15s border-color ease-in-out;
}

.express-yourself--inner span {
    display: inline-flex;
    flex-direction: row;
    /*height: 10rem;*/
    justify-content: flex-start;
    
    /*transition: font-size .1s ease-in-out;*/
}
.express-yourself--inner span:last-child:after {
    animation: blink .75s infinite;
    content: '|';
    display: inline;
    margin-top: -.05em;
}

footer {
    align-self: flex-end;
    /*background-color: rgba(0,0,0,0.5);*/
    font-family: sans-serif;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

footer a {
    border-bottom: 3px solid rgba(23, 126, 137, .3);
    color: darkslateblue;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

@keyframes blink {
    10% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}